#API config
API_PORT=8000

#Database config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Mailpit config
MAILPIT_PORT=1025
MAILPIT_HOST=mailpit
MAILPIT_UI_PORT=8025

#S3
S3_API_PORT=9000
S3_UI_PORT=9001
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_REGION=eu-central-1
S3_ACCESS_LOGIN=minioadmin
S3_SECRET_PASSWORD=minioadmin123
S3_BUCKET_NAME=