#API config
API_PORT=8000

#Database config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Mailpit config
MAILPIT_PORT=63854
MAILPIT_HOST=mailpit
MAILPIT_UI_PORT=8025