--extra-index-url https://download.pytorch.org/whl/cpu

annotated-doc==0.0.4
annotated-types==0.7.0
click==8.3.1
greenlet==3.3.2
h11==0.16.0
idna==3.11
pydantic==2.12.5
pydantic_core==2.41.5
sqlmodel==0.0.38
typing-inspection==0.4.2
typing_extensions==4.15.0
anyio==4.13.0
fastapi==0.135.2
starlette==1.0.0
uvicorn==0.42.0
pillow==12.2.0
torchvision==0.26.0
torch==2.11.0
python-multipart==0.0.24
alembic==1.18.4
psycopg2-binary==2.9.11
aioboto3==15.5.0
